html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  color: white;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}

.search_trip_container {
  height: 100%;
  overflow: hidden;
}

.search_trip {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
}

.search_trip2 {
  position: fixed;
  background: light;
  top: 11%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
  z-index: 1;
}

.search_trip_found_content {
  position: relative;
  height: 400px;
  overflow: auto;
  margin-top: 16%;
  padding-top: 1%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search_trip_found_content::-webkit-scrollbar {
  display: none;
}

.search_trip_found {
  position: absolute;
  left: 10%;
  width: 80%;
}

.nav_link_color {
  color: white;
}

.text_decoration_a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

.input_wrapper {
  position: relative;
}

.input_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-size {
  font-size: 2em;
}

.notification-icon {
  font-size: 0.5em;
  position: fixed;
  top: 9%;
  left: 18%;
}

.notification-icon2 {
  font-size: 0.5em;
  position: fixed;
  top: 1.5%;
  right: 2%;
}

.text-size {
  font-size: 1.1em;
}

.center-element {
  position: absolute;
  left: 10%;
  width: 80%;
}

.center-element {
  position: relative;
  left: 10%;
  width: 80%;
}

/* Large screen */
@media(min-width:768px) {
  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 9%;
  }

  .notification-icon2 {
    font-size: 0.5em;
    position: fixed;
    top: 1.5%;
    right: 1.3%;
  }
}

@media(max-width:991px) {
  .search_trip_found_content {
    margin-top: 30%;
  }
}

@media(max-width:767px) {
  .search_trip {
    top: 60%;
  }

  .margin-services {
    margin-top: 25%;
  }

  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 25%;
  }

  .background {
    z-index: 1;
  }

  .main {
    margin-top: 15px;
  }

  .search_trip_found_content {
    margin-top: 50%;
  }

  .search_trip_found {
    left: 5%;
    width: 90%;
  }
}

/* Small screen */
@media(max-width:500px) {
  .search_trip_found {
    left: 10%;
    width: 80%;
  }

  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 25%;
  }

  .notification-icon2 {
    font-size: 0.5em;
    position: fixed;
    top: 1.5%;
    right: 2.7%;
  }

  .margin-services {
    margin-top: 30%;
  }

  .search_trip_found_content {
    margin-top: 55%;
  }
}

/* Small screen */
@media(max-width:461px) {
  .cover {
    margin-top: 10%;
  }

  .title {
    top: 15%;
  }

  .search_trip {
    top: 65%;
  }

  .margin-services {
    margin-top: 50%;
  }

  .search_trip_found_content {
    margin-top: 70%;
  }
}

/* Small screen */
@media(max-width:350px) {
  .title {
    font-size: 1.2em;
  }

  .margin-services {
    margin-top: 60%;
  }

  .search_trip_found_content {
    margin-top: 90%;
  }
}

.right {
  float: right;
}

.logo {
  padding: 2px;
  width: 100px;
  height: 24px;
}

.logo2 {
  width: 100px;
  height: 50px;
}

.profile {
  width: 96px;
  height: 96px;
}

.profile-bar {
  width: 24px;
  height: 24px;
}

.package-image {
  width: 200px;
  height: 100px;
}

.card_pointer:hover {
  cursor: pointer;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.loading-screen.visible {
  opacity: 1;
}

.loading-screen.hidden {
  pointer-events: none;
  opacity: 0;
}

.spinner {
  /* Agrega aquí los estilos para tu spinner de carga (puedes usar librerías como spin.js o FontAwesome) */
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}