html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  color: white;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.search_trip {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
}

.search_trip2 {
  position: fixed;
  background: light;
  top: 9%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
  z-index: 1;
}

.search_trip_found {
  position: absolute;
  left: 20%;
  width: 60%;
}

.nav_link_color {
  color: white;
}

.text_decoration_a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

.input_wrapper {
  position: relative;
}

.input_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-size {
  font-size: 2em;
}

.text-size {
  font-size: 1.1em;
}

.center-element {
  position: absolute;
  left: 10%;
  width: 80%;
}

.center-element {
  position: relative;
  left: 10%;
  width: 80%;
}

@media(min-width:768px) {
  .search_trip {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    border-radius: 5%;
  }
}

@media(max-width:768px) {
  .margin-services {
    margin-top: 180px;
  }
}

@media(max-width:500px) {
  .search_trip {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    border-radius: 5%;
  }

  .search_trip_found {
    position: absolute;
    left: 10%;
    width: 80%;
  }

  .title {
    color: white;
  }
}

.right {
  float: right;
}

.profile {
  width: 96px;
  height: 96px;
}

.profile-bar {
  width: 24px;
  height: 24px;
}