html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  color: white;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  z-index:2;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}

.search_trip {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
}

.search_trip2 {
  position: fixed;
  background: light;
  top: 9%;
  left: 10%;
  width: 80%;
  border-radius: 15%;
  z-index: 1;
}

.search_trip_found {
  position: absolute;
  left: 20%;
  width: 60%;
}

.nav_link_color {
  color: white;
}

.text_decoration_a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

.input_wrapper {
  position: relative;
}

.input_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-size {
  font-size: 2em;
}

.notification-icon {
  font-size: 0.5em;
  position: fixed;
  top: 9%;
  left: 18%;
}

.notification-icon2 {
  font-size: 0.5em;
  position: fixed;
  top: 2%;
  right: 2%;
}

.text-size {
  font-size: 1.1em;
}

.center-element {
  position: absolute;
  left: 10%;
  width: 80%;
}

.center-element {
  position: relative;
  left: 10%;
  width: 80%;
}

/* Large screen */
@media(min-width:768px) {
  .search_trip {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    border-radius: 5%;
  }

  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 9%;
  }

  .notification-icon2 {
    font-size: 0.5em;
    position: fixed;
    top: 2%;
    right: 1.3%;
  }
}

.search_trip_found_content {
  margin-top: 50px;
}

@media(max-width:768px) {
  .margin-services {
    margin-top: 250px;
  }

  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 25%;
  }

  .title {
    color: white;
    top: 25%;
    left: 0;
    width: 100%;
  }

  .background {
    z-index:1;
  }

  .main {
    margin-top: 15px;
  }
}

/* Small screen */
@media(max-width:500px) {
  .search_trip {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    border-radius: 5%;
  }

  .search_trip_found {
    position: absolute;
    left: 10%;
    width: 80%;
  }

  .notification-icon {
    font-size: 0.5em;
    position: fixed;
    top: 9%;
    left: 25%;
  }

  .notification-icon2 {
    font-size: 0.5em;
    position: fixed;
    top: 2%;
    right: 2.7%;
  }
}

.right {
  float: right;
}

.logo {
  padding: 2px;
  width: 100px;
  height: 24px;
}

.logo2 {
  width: 100px;
  height: 50px;
}

.profile {
  width: 96px;
  height: 96px;
}

.profile-bar {
  width: 24px;
  height: 24px;
}

.package-image {
  width: 200px;
  height: 100px;
}

.card_pointer:hover {
  cursor: pointer;
}